# ignoring the data.json file that saves the OpenAPI key
.obsidian/plugins/obsidian-textgenerator-plugin/data.json
.obsidian/plugins/obsidian-gpt/data.json
.obsidian/workspace.json


# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections